<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.MvcContextHandler,Spring.Web.Mvc3" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler,Spring.Core" />
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <spring>
    <context>
      <resource uri="assembly://YCF.CRM.DAO/YCF.CRM.DAO.Config/Spring.xml" />
      <resource uri="file://~/Config/controllers.xml" />
      <resource uri="file://~/Config/task.config.xml" />
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser,Spring.Data" />
    </parsers>
  </spring>
  
  <databaseSettings>
    <add key="connection.string" value="Data Source=techtfs;Initial Catalog=yaochufaCRM;Persist Security Info=True;User ID=dev;Password=ycfdade23!3#$" />
    <add key="connection.string.admin" value="Data Source=techtfs;Initial Catalog=yaochufaTest5;Persist Security Info=True;User ID=dev;Password=ycfdade23!3#$" />
    <!--<add key="connection.string.old.crm" value="Data Source=techtfs;Initial Catalog=CRM;Persist Security Info=True;User ID=dev;Password=ycfdade23!3#$" />-->
  </databaseSettings>
  <connectionStrings>
    <add name="connection.hubble" connectionString="Data Source=192.168.9.44;Initial Catalog=yaochufaCRM;" providerName="Hubble.SQLClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="releaseTimeDiff" value="1209600000"/>
    <add key="releaseState" value="7"/>
    <add key="Account" value="crm@yaochufa.com" />
    <add key="Password" value="ycfa927!!" />
    <add key="Smtp" value="smtp.exmail.qq.com" />
    <add key="Port" value="25"/>
    <add key="DisplayName" value="要出发-CRM"/>
    <add key="yaochufaCDNPath" value="d:\CDN\"/>
    <add key="ImageBaseUrl" value="http://cdn.yaochufa.com/images/"/>
    <add key="Qiniu_BUCKET" value="cdn-images" />
    <add key="Qiniu_ACCESS_KEY" value="OqpRXQrle4Xx2E6WLABGgCfEPtyevUfdEJf-YLjz" />
    <add key="Qiniu_SECRET_KEY" value="oHekCEV86b-B9kwsr8a7g8KWZihTZZ-u3sy1OE29" />
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account" cookieless="AutoDetect" slidingExpiration="true" defaultUrl="~/Account" name=".YCFCRM" timeout="86400"></forms>
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    
    <customErrors mode="Off" redirectMode="ResponseRedirect"></customErrors>
    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
