<div class="t-content-jt">
    <h3 class="zj">
        自驾车</h3>
    <ul style="padding: 3px 49px;">
        <li style="color: #000;">从广州出发（距离12Km,全程约2.5小时）：</li>
        <li>经广佛高速 &rarr; 佛开高速 &rarr; 塘口出口左转 &rarr; 开平立园碉楼 &rarr; 325国道往湛江方向 &rarr; 蚬岗镇 &rarr;
            赤水镇 &rarr; 康桥温泉。</li>
        <li style="color: #000;">从香港、深圳出发 （距离10Km,全程约3.5小时）：</li>
        <li>经广深高速 &rarr; 虎门大桥 &rarr; 京珠高速中山港口镇方向 &rarr; 中江高速共和收费站 &rarr; 佛开高速台山开平方向 &rarr; 塘口出口
            左转 &rarr; 开平立园碉楼 &rarr; 325国道往湛江方向 &rarr; 蚬岗镇 &rarr; 赤水镇 &rarr; 康桥温泉。</li>
    </ul>
    <h3 class="bb">
        背包客</h3>
    <ul style="padding: 3px 49px;">
        <li style="color: #000;">从广州出发（ 距离12Km,全程约2.5小时）：</li>
        <li>经广佛高速 &rarr; 佛开高速 &rarr; 塘口出口左转 &rarr; 开平立园碉楼 &rarr; 325国道往湛江方向 &rarr; 蚬岗镇 &rarr;
            赤水镇 &rarr; 康桥温泉。</li>
        <li style="color: #000;">从香港、深圳出发 （距离10Km,全程约3.5小时）：</li>
        <li>经广深高速 &rarr; 虎门大桥 &rarr; 京珠高速中山港口镇方向 &rarr; 中江高速共和收费站 &rarr; 佛开高速台山开平方向 &rarr; 塘口出口
            左转 &rarr; 开平立园碉楼 &rarr; 325国道往湛江方向 &rarr; 蚬岗镇 &rarr; 赤水镇 &rarr; 康桥温泉。</li>
    </ul>
</div>