<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <FileGroup Name="css/ycf.login.min.css">
    <File Path="css/ycf.login.css" />
  </FileGroup>
  <FileGroup Name="css/ycf.style.min.css">
    <File Path="css/matrix-style.css" MinifyType="yui" />
    <File Path="css/matrix-media.css" MinifyType="yui" />
  </FileGroup>
  <FileGroup Name="css/easyui.min.css">
    <File Path="css/easyui.css" MinifyType="yui" />
  </FileGroup>
  <FileGroup Name="css/uniform-select2.min.css">
    <File Path="css/uniform.css" MinifyType="yui" />
    <File Path="css/select2.css" MinifyType="yui" />
  </FileGroup>
  <FileGroup Name="css/ycf.datepicker.min.css">
    <File Path="css/datepicker.css" MinifyType="yui" />
    <File Path="css/datetimepicker.css" MinifyType="yui" />
  </FileGroup>
  <FileGroup Name="css/ycf.gritter-jqplot.min.css">
    <File Path="css/jquery.gritter.css" MinifyType="yui" />
    <File Path="css/jquery.jqplot.min.css" MinifyType="yui" />
  </FileGroup>
  <FileGroup Name="css/ycf.easyui-grid.min.css">
    <File Path="css/datagrid.css" MinifyType="yui" />
    <File Path="css/easyui.min.css" Minify="false" />
  </FileGroup>
  <FileGroup Name="../Scripts/ycf.crm.min.js">
    <File Path="../Scripts/ycf.crm.js" Minify="true" MinifyType="yuiHybrid" />
  </FileGroup>
  <FileGroup Name="../Scripts/matrix.min.js">
    <File Path="../Scripts/matrix.js" Minify="true" MinifyType="yuiHybrid" />
  </FileGroup>
  <FileGroup Name="../Scripts/jquery.ui.custom.min.js">
    <File Path="../Scripts/jquery.ui.custom.js" Minify="true" MinifyType="yuiHybrid" />
  </FileGroup>
  <FileGroup Name="../Scripts/ycf.async.task.min.js">
    <File Path="../Scripts/ycf.async.task.js" Minify="true" MinifyType="yuiHybrid" />
  </FileGroup>
</root>
