<div class="t-content-xingcheng">
    <ul>
        <li><em style="display: block; color: #000;">第一天上午：</em> 抵达酒店。休息片刻，前往杨梅坑用午餐。午餐可选海鲜类或者农家菜。杨梅坑村上的海鲜酒楼可选择性多农家菜里的窑鸡在深圳南澳这一带比较出名。
        </li>
        <li><em style="display: block; color: #000;">第一天下午：</em> 午饭后回酒店。酒店有先进的棋牌室，有自动麻将可供玩乐。
            也可根据您的时间安排，出海捕鱼或者沿海骑行，单车可以在酒店前台领取，免费骑行2小时。晚餐可以选择在酒店楼顶烧烤吧烧烤。租炉和材料采购可以具体咨询酒店。
        </li>
        <li><em style="display: block; color: #000;">第二天上午：</em> 早上乘坐酒店安排的老爷车游览七星湾大运馆，往返约2小时。12点办理退房手续，然后开车前往游览中国最美的海滩之一----西冲。午饭可以选择在西冲。
        </li>
        <li><em style="display: block; color: #000;">第二天下午：</em> 进去西冲沙滩需要按人收费，约13元/人，车辆停车费约10元/车
            （具体请咨询景区）。下午就尽情的漫步在美丽的沙滩，或者在蔚蓝的大海畅游。下午大约18点后开车离开西冲，晚饭后返回温暖的家。 </li>
    </ul>
</div>