@model DUOJU.WECHAT.Models.Party.PublishPartyViewModel

@{
    ViewBag.Title = "PublishParty";
}

<fieldset>
    <legend>客户信息</legend>
    <div>
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </div>
</fieldset>

<fieldset>
    <legend>填写聚会</legend>

    @using (Html.BeginForm())
    {
        <dl>
            <dt>OpenId 无需显示</dt>
            <dd>@Html.TextBoxFor(i => i.PartyInfo.OpenId)</dd>
            <dt>SupplierId 无需显示</dt>
            <dd>@Html.TextBoxFor(i => i.PartyInfo.SupplierId)</dd>
            <dt>HoldDate 具体日期</dt>
            <dd><input type="date" name="PartyInfo.HoldDate" /></dd>
            <dt>HoldTime 具体时间段</dt>
            <dd>@Html.DropDownListFor(i => i.PartyInfo.HoldTime, new SelectList(Model.PartyHoldTimes, "Key", "Value"))</dd>
            <dt>Description 说明，100字以内</dt>
            <dd>@Html.TextAreaFor(i => i.PartyInfo.Description)</dd>
            <dt>MinIntoForce 最少人数（最少2人）</dt>
            <dd><input type="number" min="2" name="PartyInfo.MinIntoForce" /></dd>
            <dt>MaxIntoForce 最多人数（不少于最少人数，不填表示无限制）</dt>
            <dd><input type="number" min="2" name="PartyInfo.MaxIntoForce" /></dd>
        </dl>

        <button type="submit">提交</button>
    }
</fieldset>