@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>潜在客户</h2>

@section footSection
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/prospectivesupplier/index.js")"></script>
}
